extends layout.pug

block content

  article.portfolio-intro

    
    h1 My Portfolio

    
    p This is the 6th project in the Treehouse JavaScript Full Stack Tech degree. This project showcases all the previoous projects I have completed. Through completing this project I have gained knowledge of Node.js, Express and Pug.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        
        .cell
          
          a(href=`/projects/${project.id}`)
            
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            
            h5= project.project_name
   
    